@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Medical Management System Lite</h1>
    <p>Designed and Developed by Sayed Asad Jamal.</p>
    <p>+91 638 717 6061</p>
</div>

@* <label for="ice-cream-choice">Choose a flovour:</label>
<input list="ice-cream-flavors" id="ice-cream-choice" name="ice-cream-choice" />

<datalist id="ice-cream-flavors">
    <option value="Chocolate"></option>
    <option value="Mint"></option>
    <option value="Strawberry"></option>
    <option value="Orange"></option>
    <option value="Butter Scotch"></option>
    <option value="Venila"></option>
    <option value="Black Current"></option>
</datalist>
<br />
<progress id="project" max="100" value="70">70%</progress>
<br />

<details>
    <summary>Details</summary>
    Something small enough to escape casual notice. Something small enough to escape casual notice. Something small enough to escape casual notice. Something small enough to escape casual notice. Something small enough to escape casual notice. Something small enough to escape casual notice.
</details>

<br />

<div>
    <label for="html">HTML</label>
    <meter id="html" value="6" min="0" max="10">2 out of 10</meter>
</div> *@